@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.prochain span {
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.prochain span:nth-child(2) {
  animation-delay: 0.4s;
}

.prochain span:nth-child(3) {
  animation-delay: 0.8s;
}

.foot__lien--animation:hover {
  display: block;
  animation: wiggle 0.5s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.contenu:hover {
  transform: scale(1.2);
  opacity: 0.7;
  transition: transform 1s;
}

h2.chic {
  background-image: linear-gradient(to right, #D2691E 10%, #9370DB 90%, #8A2BE2);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

a.chic {
  color: #D2691E;
  font-weight: bold;
}

h2.delice {
  background-image: linear-gradient(to right, #0000CD 10%, #03A9F4 90%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

a.delice {
  color: #03A9F4;
}

h2.palette {
  background-image: linear-gradient(to right, #4CAF50 10%, #CCFF90 90%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

a.palette {
  color: #4CAF50;
}

h2.etape {
  color: inherit;
  background: linear-gradient(to top, #4DB6AC 0%, #FFF176 10%, transparent 10.01%) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}

h2.etape:hover {
  background-size: 100% 100%;
}

.body {
  margin: 0px;
}

.backgroundedcontent {
  font-family: "Montserrat", sans-serif;
  background-color: #26A69A;
}
.backgroundedcontent a, .backgroundedcontent.prochain {
  text-decoration: none;
  color: #FFD54F;
}
.backgroundedcontent.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0px 10px;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  text-align: center;
  display: block;
  width: auto;
  margin: auto;
  padding: 15px 0px;
  font-size: 50px;
}

img.note1 {
  width: 60px;
}

.prochain {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto 50px auto;
}

.titre--lien {
  text-decoration: none;
  font-size: 60px;
}

section.containermenu1_2, section.containermenu3_4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px auto 30px auto;
  height: 30em;
}

.containermenu section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28em;
  max-height: 60em;
}

h2.note, h2.delice, h2.palette {
  font-size: 40px;
  padding-left: 3px;
}

h2.chic {
  font-size: 30px;
}

div.menu {
  box-shadow: 0px 0px 22px 4px #E0E0E0;
  max-height: 350px;
}

.containermenu1_2--note.menu {
  background-color: #ffcdd2;
  font-family: "Devonshire", cursive;
}
.containermenu1_2--note.menu a {
  font-family: "Kalam", cursive;
}

.containermenu1_2--chic.menu {
  background-color: #ffebee;
  font-family: "Croissant One", cursive;
}
.containermenu1_2--chic.menu a {
  font-family: "Abril Fatface", cursive;
}

.containermenu3_4--delice.menu {
  background-color: #E0F7FA;
  font-family: "Dancing Script", cursive;
}
.containermenu3_4--delice.menu a {
  font-family: "Kalam", cursive;
}

.containermenu3_4--palette.menu {
  background-color: #F9FBE7;
  font-family: "Kaushan Script", cursive;
}
.containermenu3_4--palette.menu a {
  font-family: "Kalam", cursive;
}

/*mobil accueil*/
@media only screen and (max-width: 1023px) {
  .containermenu section div {
    width: 12em;
    max-height: 22em;
  }

  h2.note, h2.delice, h2.palette {
    font-size: 21px;
  }

  h2.chic {
    font-size: 14px;
  }

  section.containermenu1_2, section.containermenu3_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10em;
  }

  div.menu {
    height: 12em;
  }

  .logo {
    font-size: 30px;
  }

  img.note1 {
    width: 20px;
  }

  .titre--lien {
    font-size: 25px;
  }

  .foot a {
    font-size: 18px;
  }
}
/*Style menu1*/
aside.titlemenu {
  text-align: center;
  display: block;
  width: auto;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}

section.containerprincipal {
  background-color: #ffcdd2;
  width: 45em;
  height: 66em;
  margin: auto auto 85px auto;
}

h1.title.note {
  font-family: "Devonshire", cursive;
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 0px;
}

img.note1 {
  display: block;
  padding-top: 35px;
  margin: 0px auto;
}

h2.etape {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 0px;
}

div.center {
  display: flex;
  justify-content: center;
}

p.prix {
  font-weight: bolder;
}

main.description {
  font-family: "Kalam", cursive;
}

.containerentree, .containerplat, .containerdessert {
  display: flex;
  flex-direction: column;
  margin: 10px 100px;
}

.container1, .container2, .container3, .container4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #212121;
}

aside.notemusic {
  display: flex;
  justify-content: center;
  margin: 45px;
}
aside.notemusic img.note2 {
  width: 30px;
  margin-bottom: 20px;
}

span.note {
  font-family: "Devonshire", cursive;
  margin-left: 10px;
  font-weight: bold;
  font-size: 25px;
}

/*mobil menu1*/
@media only screen and (max-width: 1023px) {
  aside.titlemenu {
    display: none;
  }

  section.containerprincipal {
    margin-top: 5px;
    width: 20em;
    height: auto;
  }

  h1.title.note {
    font-size: 20px;
    margin-bottom: 0px;
  }

  h2.etape {
    font-size: 15px;
  }

  .containerentree, .containerplat, .containerdessert {
    margin: 0px 20px;
  }

  p.prix {
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  .container1, .container2, .container3, .container4 {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .container1 p, .container2 p, .container3 p, .container4 p {
    margin-bottom: 0px;
  }

  aside.notemusic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }

  img.note2 {
    width: 20px;
    margin-top: 10px;
  }

  span.note {
    font-size: 15px;
    margin: 0px;
  }
}
/*Style Menu2*/
section.containerprincipal {
  background-color: #ffebee;
}

h1.title.chic {
  font-family: "Croissant One", cursive;
  background-image: linear-gradient(to right, #FF8F00 8%, #9370DB 92%, #8A2BE2);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin-top: 0px;
}

div.containerentree, h3.entree {
  color: #FF8F00;
}

div.containerplat, h3.plat {
  color: #9370DB;
}

div.containerdessert, h3.dessert {
  color: #8A2BE2;
}

/*# sourceMappingURL=style.css.map */
