@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.prochain span {
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.prochain span:nth-child(2) {
  animation-delay: 0.4s;
}

.prochain span:nth-child(3) {
  animation-delay: 0.8s;
}

.foot__lien--animation:hover {
  display: block;
  animation: wiggle 0.5s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.contenu:hover {
  transform: scale(1.2);
  opacity: 0.7;
  transition: transform 1s;
}

h2.chic {
  background-image: linear-gradient(to right, #D2691E 10%, #9370DB 90%, #8A2BE2);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

a.chic {
  color: #D2691E;
  font-weight: bold;
}

h2.delice {
  background-image: linear-gradient(to right, #0000CD 10%, #03A9F4 90%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

a.delice {
  color: #03A9F4;
}

h2.palette {
  background-image: linear-gradient(to right, #4CAF50 10%, #CCFF90 90%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

a.palette {
  color: #4CAF50;
}

/*h3.etape {
	text-transform: lowercase;
	display: inline-block;
}

h3.etape:first-letter {
	text-transform: capitalize;
}

h3.etape:hover {
	text-decoration: underline;
}*/
h3.etape {
  color: inherit;
  background: linear-gradient(to top, #000 0%, #000 10%, transparent 10.01%) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}

h3.etape:hover {
  background-size: 100% 100%;
}

@font-face {
  font-family: Monserrat;
  src: url("../Font/Monserrat-Regular.ttf");
  font-family: Roboto;
  src: url("../Font/Roboto-Regular.ttf");
  font-family: Devonshire;
  src: url("../Font/Devonshire-Regular.ttf");
  font-family: Kalam;
  src: url("../Font/Kalam-Regular.ttf");
  font-family: croissant;
  src: url("../Font/CroissantOne-regular.ttf");
  font-family: Dancing;
  src: url("../Font/DancingScript-VariableFont_wght.ttf");
  font-family: "kaushan_scriptregular";
  src: url("../Font/kaushanscript-regular-webfont.woff2") format("woff2"), url("../Font/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-family: "SegoePrint-Bold";
  src: url("../Font/SegoePrint-Bold.ttf");
}
.backgroundedcontent {
  font-family: Montserrat;
  background-color: #26A69A;
}
.backgroundedcontent a, .backgroundedcontent.prochain {
  text-decoration: none;
  color: #FFD54F;
}
.backgroundedcontent.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0px 10px;
  font-size: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  text-align: center;
  display: block;
  width: auto;
  margin: auto;
  padding: 15px 0px;
  font-size: 50px;
}

img.note1 {
  width: 60px;
}

.prochain {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto 50px auto;
}

.titre--lien {
  text-decoration: none;
  font-size: 60px;
}

section.containermenu1_2, section.containermenu3_4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px auto 30px auto;
  height: 30em;
}

.containermenu section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25em;
  max-height: 60em;
}

h2 {
  font-size: 35px;
}

div.menu {
  box-shadow: 0px 0px 22px 4px #E0E0E0;
  max-height: 350px;
}

.containermenu1_2--note {
  background-color: #ffcdd2;
  font-family: Devonshire;
}
.containermenu1_2--note a {
  font-family: "SegoePrint-Bold";
}

.containermenu1_2--chic {
  background-color: #ffebee;
  font-family: croissant_oneregular;
}

.containermenu3_4--delice {
  background-color: #E0F7FA;
  font-family: Dancing;
}
.containermenu3_4--delice a {
  font-family: "SegoePrint-Bold";
}

.containermenu3_4--palette {
  background-color: #F9FBE7;
  font-family: "kaushan_scriptregular";
}

/*mobil*/
@media only screen and (max-width: 1023px) {
  .containermenu section div {
    width: 10em;
    max-height: 21em;
  }

  h2 {
    font-size: 15px;
  }

  section.containermenu1_2, section.containermenu3_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10em;
  }

  div.menu {
    height: 12em;
  }

  .logo {
    font-size: 30px;
  }

  img.note1 {
    width: 20px;
  }

  .titre--lien {
    font-size: 25px;
  }

  .foot a {
    font-size: 18px;
  }
}
/*Style menu1*/
aside.titlemenu {
  text-align: center;
  display: block;
  width: auto;
  margin: auto;
  font-size: 42px;
}

section.containerprincipal {
  background-color: #ffcdd2;
  margin: 15px;
  width: 45em;
  height: 62em;
  margin: auto;
}

h2.note {
  font-family: Devonshire;
  display: flex;
  justify-content: center;
  font-size: 45px;
}

aside.notemusic {
  display: flex;
  justify-content: center;
  font-weight: 15px;
  margin: 45px;
  font-size: 20px;
}
aside.notemusic img.note2 {
  width: 30px;
  margin-bottom: 20px;
}

img.note1 {
  margin-left: 19em;
}

h3.etape {
  margin: 1em 0em 0em 17em;
  display: inline-block;
}

p.prix {
  font-weight: bolder;
}

main.description {
  font-family: Kalam;
}

.containerentree, .containerplat, .containerdessert {
  display: flex;
  flex-direction: column;
  margin: 10px 100px;
}

.container1, .container2, .container3, .container4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
