.contenu:hover{
    transform: scale(1.2);
    opacity: 0.7;
    transition: transform 1s ;
}
h2.note, a.note{
    color: rgb(61,19,25);
}
h2.chic{ 
    background-image: linear-gradient(to right, rgb(190,105,19), rgb(155,92,142) , rgb(99,67,197));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
a.chic{
    color: rgb(190,105,19);
    font-weight: bold;
}
h2.delice{
    background-image: linear-gradient(to right,rgb(2,41,221) , rgb(8,137,251));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
a.delice{
    color:rgb(8,137,251) ;
}
h2.palette{
    background-image: linear-gradient(to right, rgb(67,151,61), rgb(190,255,127));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
a.palette{
    color:rgb(67,151,61);
}
