@import'animationellipsis';
@import'animationwiggle';
@import'animationscale';
@import'animationunderline';

$couleur-fond-banniere:rgb(87,156,135);
$couleur-texte-banniere:rgb(253,203,70);
$lien:none;
$background-menu1:rgb(252,223,219);
$background-menu2:rgb(255,245,254);
$background-menu3:rgb(237,239,239);
$background-menu4:rgb(253,255,253);

body{
	margin: 0px;
}
.backgroundedcontent {
	font-family: 'Montserrat', sans-serif;
	background-color:$couleur-fond-banniere;
	font-weight: bold;
	
	a, &.prochain{
		text-decoration:$lien;
		color:$couleur-texte-banniere;
	}
	
	&.foot{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		padding: 0px 10px;
		font-size: 20px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.logo{
	text-align: center;
	display: block;
	width: auto;
	padding: 15px 0px;
	font-size: 50px;
}
.backgroundedcontent h1{
	margin-top: 0px;
}
img.note1{
	width: 60px;
}
.prochain{
	width: 200px;
	height: 40px;
	border-radius: 8px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px auto 80px auto;
}
.titre--lien{
	text-decoration: $lien;
	font-size: 60px;
}
section.containermenu1_2, section.containermenu3_4{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 30px auto 30px auto;
	height: 30em;
}
.containermenu section div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 28em;
	max-height: 60em;
}
span.contenu{
	display: inline-block;
	
}
h2.note, h2.delice, h2.palette{
	font-size: 40px;
	padding-left: 3px;
}
p{
	display: flex;
	justify-content: center;
}
div.menu{
	box-shadow:0px 0px 22px 4px #E0E0E0;
	max-height: 350px;
}
.containermenu1_2--note.menu{
	background-color: $background-menu1;
	font-family: 'Devonshire', cursive;

	p{
		font-family: 'Kalam', cursive;
		color: rgb(61,19,25);
	}
	h2.note{
		color: rgb(61,19,25);
	}
}
.containermenu1_2--chic.menu{
	background-color: $background-menu2;
	font-family: 'Croissant One', cursive;

	p{
		font-family:'Abril Fatface', cursive;
		color: rgb(190,105,19);
    	font-weight: bold;
	}
	h2.chic{ 
		background-image: linear-gradient(to right, rgb(190,105,19), rgb(155,92,142) , rgb(99,67,197));
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		font-size: 30px;
	}
}
.containermenu3_4--delice.menu{
	background-color: $background-menu3;
	font-family: 'Dancing Script', cursive;

	p{
		font-family: 'Kalam', cursive;
		color:rgb(8,137,251) ;
	}
	h2.delice{
		background-image: linear-gradient(to right,rgb(2,41,221) , rgb(8,137,251));
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}
}
.containermenu3_4--palette.menu{
	background-color: $background-menu4;
	font-family: 'Kaushan Script', cursive;

	p{
		font-family:'Kalam', cursive;
		color:rgb(67,151,61);
	}
	h2.palette{
		background-image: linear-gradient(to right, rgb(67,151,61), rgb(190,255,127));
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}
}

/*mobil accueil*/
@media only screen and (max-width:1023px){

.containermenu section div{
	width: 12em;
	max-height: 22em;
}
h2.note,  h2.delice, h2.palette{
	font-size: 21px;
}
h2.chic{
	font-size: 14px;
}
section.containermenu1_2, section.containermenu3_4{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10em;
}
div.menu{
	height: 12em;
}
.logo{
	font-size: 30px;
}
img.note1{
	width: 20px;
}
.titre--lien{
	font-size: 25px;
}
.foot a{
	font-size: 18px;
}
}

/*Style menu1*/

$font-titre-menu1:'Devonshire', cursive;
$font-texte-menu1:'Kalam', cursive;

aside.titlemenu{
	text-align: center;
	display: block;
	width: auto;
	margin: auto;
	font-size: 25px;
	font-weight: bold;
}
section.containerprincipal.note{
	background-color: $background-menu1;
	width: 45em;
	height: 66em;
	margin: auto auto 85px auto;	
}
h1.title.note{
	font-family: $font-titre-menu1;
	display: flex;
	justify-content: center;
	font-size: 40px;
	margin-top: 0px;
}
img.note1{
	display: block;
	padding-top: 35px;
	margin: 0px auto;
}
h2.etape{
	display: inline-block;
	font-size: 20px;
	margin-bottom: 0px;
}
div.center{
	display: flex;
	justify-content: center;
}
p.prix{
	font-weight: bolder;
}
main.description.note{
	font-family: $font-texte-menu1;	
}
.containerentree, .containerplat, .containerdessert{
	display: flex;
	flex-direction: column;
	margin: 10px 100px;	
}
.container1, .container2, .container3, .container4{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.container1 p, .container2 p, .container3 p, .container4 p{
	color: (#212121);
}
aside.notemusic{
	display: flex;
	justify-content: center;
	margin: 45px;
	
	img.note2{
		width: 30px;
		margin-bottom: 20px;
	}
}
span.note{
	font-family: $font-titre-menu1;
	margin-left: 10px;
	font-weight: bold;
	font-size: 25px;
}

/*mobil menu1*/
@media only screen and (max-width:1023px){

aside.titlemenu{
	display: none;
}
section.containerprincipal.note{
	margin-top: 5px;
	width: 20em;
	height: auto;
}
h1.title.note{
	font-size: 20px;
	margin-bottom: 0px;
}
h2.etape{
	font-size: 15px;
}
.containerentree, .containerplat, .containerdessert{
	margin: 0px 20px;
}
p.prix{
	display: flex;
	justify-content: center;
	margin: 0px;
}
.container1, .container2, .container3, .container4{
	display:flex;
	flex-direction: column;
	font-size: 12px;
}
.container1 p, .container2 p, .container3 p, .container4 p{
	margin-bottom: 0px;
}
aside.notemusic{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
}
img.note2{
	width:20px;
	margin-top: 10px;
}
span.note{
	font-size: 15px;
	margin: 0px;
}
}
/*Style Menu2*/
$font-titre-menu2: 'Croissant One', cursive;
$font-texte-menu2: 'Abril Fatface', cursive;

section.containerprincipal.chic{
	background-color: $background-menu2;
	width: 45em;
	height: 66em;
	margin: auto auto 85px auto;
}
main.description.chic{
	font-size: $font-texte-menu2;	
}
h1.title.chic{
	font-family: $font-titre-menu2;
	background-image: linear-gradient(to right,rgb(190,105,19) 10%, rgb(155,92,142) 90%, rgb(99,67,197));
    color: transparent;
    -webkit-background-clip: text;
	background-clip: text;
	display: flex;
	justify-content: center;
	font-size: 25px;
	margin-top: 0px;
	padding-top: 70px;
}
.containerentree.chic p, h2.etape.entree{
	color:( rgb(190,105,19)); 
}
.containerplat.chic p, h2.etape.plat{
	color:( rgb(155,92,142));  
}
.containerdessert.chic p, h2.etape.dessert{
	color:(rgb(99,67,197));   
}

/*mobil menu2*/
@media only screen and (max-width:1023px){

section.containerprincipal.chic{
	margin-top: 5px;
	width: 20em;
	height: auto;
}
h1.title.chic{
	font-size: 20px;
}
}

/*Style menu3*/
$font-titre-menu3: 'Dancing Script', cursive;
$font-texte-menu3: 'Kalam', cursive;


section.containerprincipal.delice{
	background-color: $background-menu3;
	width: 45em;
	height: 66em;
	margin: auto auto 85px auto;
}
main.decription.delice{
	font-size:$font-texte-menu3;
}
h1.title.delice{
	font-family: $font-titre-menu3;
	background-image: linear-gradient(to right, #0000CD 10%, #03A9F4 90%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
	display: flex;
	justify-content: center;
	font-size: 50px;
	margin-top: 0px;
	padding-top: 70px;
}

/*mobil menu3*/
@media only screen and (max-width:1023px){

section.containerprincipal.delice{
		margin-top: 5px;
		width: 20em;
		height: auto;
}
h1.title.delice{
	font-size: 30px;
}
}

/*style menu4*/
$font-titre-menu4: 'Kaushan Script', cursive;
$font-texte-menu4: 'Kalam', cursive;

section.containerprincipal.palette{
	background-color: $background-menu4;
	width: 45em;
	height: 66em;
	margin: auto auto 85px auto;
}
main.description.palette{
	font-size: $font-texte-menu4;
}
h1.title.palette{
	font-family: $font-titre-menu4;
    background-image: linear-gradient(to right, #4CAF50 10%, #CCFF90 90%);
	color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
	display: flex;
	justify-content: center;
	font-size: 50px;
	margin-top: 0px;
	padding-top: 70px;
}
/*mobil menu4*/
@media only screen and (max-width:1023px){

section.containerprincipal.palette{
	margin-top: 5px;
	width: 20em;
	height: auto;
}
h1.title.palette{
	font-size: 30px;
}
}

/*mentions legales*/
p.text{
	text-align: justify;
}
h1.mentionslegales{
	font-size: bold;
	text-decoration: underline overline #FF3028;
	display: flex;
	justify-content: center;
}
h2.paragraphs{
	font-size: 18px;
	text-decoration: underline;
}
article.mentions{
	margin: 30px;
	padding-bottom: 40px;
}