@import'animationellipsis';
@import'animationwiggle';

@font-face {
    font-family: Monserrat;
	src: url('../Font/Monserrat-Regular.ttf');
	font-family: Roboto;
	src: url('../Font/Roboto-Regular.ttf');
	font-family: Devonshire;
	src: url('../Font/Devonshire-Regular.ttf');
	font-family: Kalam;
	src: url('../Font/Kalam-Regular.ttf');
}

$couleur-de-fond:#26A69A;
$couleur-texte:#FFD54F;
$lien:none;
$couleur-menu:#0000;

.backgroundedcontent {
	font-family: Roboto;
	background-color:$couleur-de-fond;
	
	a, &.prochain{
		text-decoration:$lien;
		color:$couleur-texte;
	}
	&.foot{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: auto;
		height: 60px;
		padding: 0px 10px;
		font-size: 30px;
	}
}
.logo{
	text-align: center;
	display: block;
	width: auto;
	margin: auto;
	padding: 15px 0px;
	font-size: 50px;
}
.prochain{
	width: 200px;
	height: 40px;
	border-radius: 8px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px auto;
}
.titre--lien{
	text-decoration: $lien;	
}

section.containermenu1_2, section.containermenu3_4{
	background-color: yellowgreen;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	width: 80em;
	height: 45em;
	
}
main.containermenu{
	display: flex;
	flex-direction: column;
	background-color: #FFFFE0;

	h2{
		font-size: 3em;

	}
}


.containermenu1_2--note{
	background-color: #ffcdd2;
	width: 40em;
	max-height: 60em;
	
}
.containermenu1_2--chic{
	background-color: #ffebee;
	width: 40em;
	max-height: 60em;
}
.containermenu3_4--delice{
	background-color: #E0F7FA;
	width: 40em;
	max-height: 60em;
}
.containermenu3_4--palette{
	background-color: #F9FBE7;
	width: 40em;
	max-height: 60em;
}

/*Style menu1*/
$font-titre-menu1:Devonshire;
$font-texte-menu1:Kalam;

section.containerprincipal{
	background-color: #ffcdd2;
	margin: 15px;
}
aside.titlemenu{
	text-align: center;
	display: block;
	width: auto;
	margin: auto;
	font-size: 20px;
}

img.note1{
	width: 60px;
}
img.note2{
	width: 30px;
}
h2.note, span.note{
	font-family: $font-titre-menu1;

}
p.prix{
	font-weight: bolder;
}
main.description{
	font-family: $font-texte-menu1;
	
}
.containerentree, .containerplat, .containerdessert{
	display: flex;
	flex-direction: column;
	margin: 0px 100px;
	
}

.container1, .container2, .container3, .container4{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}


