@font-face {
    font-family: Monserrat;
	src: url(Font/Monserrat-Regular.ttf);
	font-family: Roboto;
	src: url(Font/Roboto-Regular.ttf);
}

$couleur-de-fond:#26A69A;
$couleur-texte:#FFD54F;
$lien:none;
$couleur-menu:#0000;


.lien {
	font-family: Roboto;
	color:$couleur-texte;
	background-color:$couleur-de-fond;
	text-decoration:$lien;}

		.logo{
			text-align: center;
			display: block;
			width: auto;
			margin: auto;
			padding: 15px 0px;
			font-size: 30px;
			
		}
		
		.prochain{
			margin-bottom: 15px;
			padding-left: 15px;
			width: 150px;
			border-radius: 10px;
			font-size: 20px;
			display: inline-flex;
		}

		.point:nth-child(1),
		.point:nth-child(2),
		.point:nth-child(3){
			width: 7px;
			height: 7px;
			display: inline-flex;
			border-radius: 100px;
			animation: PopUp .10s ease-in infinite;
		}

		.point:nth-child(1){
			background-color:#FFD54F;
			animation-delay: .5s;
		}
		.point:nth-child(2){
			background-color:#FFD54F;
			animation-delay: .10s;
		}
		.point:nth-child(3){
			background-color:#FFD54F;
			animation-delay: .15s;
		}

		@keyframes PopUp{
			0%{
				transform: translateY(0px);
			}
			50%{
				transform: translateY(-10px);
			}
			100%{transform: translateY(0px);
			}
		}

		.mention{
			display: flex;
			flex-direction: row;
			width: 50%;
		}
		.contact{
			display: flex;
			flex-direction: row;
			width: 50%;
		}

.titre--lien{
	text-decoration: $lien;	
}








