$couleur-de-fond:#26A69A;
$couleur-texte:#FFD54F;
$lien:none;
$couleur-menu:#0000;


a.menu--lien {
	color:$couleur-texte;
	background-color:$couleur-de-fond;
	text-decoration:$lien;
	margin: 70px;
	height: 150px;
	
}
.titre--lien{
	text-decoration: $lien;	
}








